@import url('https://fonts.googleapis.com/css?family=Abel');

body {
  font-family: 'Abel', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.users {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding-left: 0;
}

.users li {
  width: calc(25% - 1em);
  box-sizing: border-box;
  border: thin solid #666;
  border-radius: 5px;
  padding: 1em;
  margin: 0.5em;
}

.users li img {
  width: 100%;
  height: auto;
}

.users li h3 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

a {
  text-decoration: none;
  color: #4777d6;
}

.funemployed {
  color: #962815;
  font-weight: bold;
}

.user {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

.user .primary {
  display: flex;
}

.user .contact p {
  margin: 0;
}

.user figure {
  margin: 1em;
}

.user figure img {
  border: thin solid #666;
  border-radius: 50%;
  padding: 0.5em;
  width: 150px;
}

.user dl dt {
  float: left;
  font-weight: bold;
  text-align: right;
  display: block;
  width: calc(150px + 1.5em);
  margin-bottom: 0.5em;
}

.user dl dd {
  margin-left: calc(150px + 3em);
  margin-bottom: 0.5em;
}
